*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: #161513;
  color: white;
  
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}
.nav-connect{
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg,#DA7c25 0.36%,#B923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transform: 0.5s;
}
.nav-connect:hover{
  transform: scale(1.05);
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li :hover{
  transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
  .about{
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }
  .about-title h1{
    font-size: 50px;
    padding: 0;
  }
  
}